.logo {
    position: relative; // Позволяет управлять позиционированием внутри родительского контейнера
    width: 100px; // Задаем ширину логотипа
    height: 100px; // Задаем высоту логотипа
    filter: brightness(0.8) opacity(0.9); // Настройка яркости и прозрачности для смешивания
    transition: filter 0.3s ease; // Плавный переход при наведении
    cursor: pointer;
    border-radius: 50%;
    mix-blend-mode: difference;
    &:hover {
      filter: brightness(1) opacity(1); // Становится более заметным при наведении
    }
  }