:root {
  --background: #ffffff;
  --foreground: #171717;
  --acceint:rgba(255, 0, 0, 0.885);
  --seconndary-color: rgb(0, 255, 255); 
}



html,
body {
  max-width: 100dvw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}
ul, ol{
  list-style: none;
}
body {
  color: var(--foreground);
  background: linear-gradient(180deg, #333, #000);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3 {
  color: #ffea00; /* Золотистый цвет для заголовков */
  font-family: 'YourChosenFont', sans-serif; /* Подключенный шрифт */
  font-weight: bold; /* Жирный шрифт */
  text-shadow: 1px 1px 12px rgb(243, 6, 6); /* Легкая тень для выделения */
  text-align: center;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


