.page{
  margin: 0 auto;
  padding: 0;
  width: 100dvw;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
  align-items: center;
  background: black;
  margin: 0 auto;
  margin-top: 100px;
  width: 100dvw;
  color: aliceblue;
  ol {
    text-align: center;
  }
}

.MainLogo {
  margin-top: -110px;
  z-index: 3;
  width: 100%;
  max-width: 460px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%,0%);
  height: auto;
  mix-blend-mode: difference;
}

.description {
  width: 90%;
  max-width: 800px;
  font-size: 24px;
  @media screen and (max-width:475px) {
    font-size: 0.8rem;
  }
}

.title {
  color: #e40b0bb4;
  font-size: 2rem;
  margin-bottom: 10px;
  @media screen and (max-width:475px) {
    font-size: 1.2rem;
  }
}

.subtitle {
  color: #e40b0baa;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 10px;
  @media screen and (max-width:475px) {
    font-size: 1rem;
  }
}

.bulletList {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 20px;

  li {
    margin-bottom: 10px;
  }
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
  
  a {
    display: flex;
    align-items: center;
    gap: 8px;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 4px;
    }
  }

  @media (max-width: 600px) {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

