/* components/Header.module.scss */

.header {
    position: fixed; /* Fix the header at the top */
    top: 0;
    left: 0;
    right: 0;
    background-color: #090808df; /* Background color */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Shadow for effect */
    z-index: 4; /* Ensure header is above other elements */
    display: flex;
    width: 100dvw;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    @media screen and (max-width:475px) {
    padding-left: 4px;
    padding-right: 4px;
    height: auto;
    }
  }
  
  
  .Logo{
    &__sm{
      background: transparent;
      z-index: 5;
      width: 100px;
      display: none;
      border: none;
      padding: 0;
      position: fixed;
      top: 5px;
      left: 10px;
      transition: 1s;
      &__open{
        transform: rotateY(180deg) translateX(calc(-100vw + 125px)) scale(1.5) translateY(25px);
      }
      @media screen and (max-width:475px) {
        display: block;
        right: 5px;
      }
    }
    &__lm{
      display: block;
      @media screen and (max-width:475px) {
        display: none;
      }
    }
  }

  .hidden {
    opacity: 0;
    transition: opacity 1s ease;
    transform: translateY(-300px);
    animation: fold 1s forwards;

  }
  .visible {
    animation: unfold 1s forwards;
    transform: translateY(0px);

  }
  @keyframes unfold {
    0% {
      transform: translateY(-500px);
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateY(0px);

    }
  }

  @keyframes fold {
    0% {
      opacity: 1;
      transform: translateY(0px);
    }
    100% {
      transform: translateY(-500px);
      opacity: 0;

    }
  }